body
{
  background-color: #111;
  color: #ccc;
  font-family:Arial;
  padding-top: 10px;
}

img
{
  width: 100%;
}

#headercanvas
{
  position: static;
  top: 0;
  left: 0;
}

.post-title
{
  margin-top: 0.6em;
}

.sidebar-post-title
{
  margin-top: 1em;
  font-size: 2em;
  line-height: 90%;
}

.sidebar-post-date
{
  margin-top: 0.2em;
  margin-left: 1.2em;
  margin-bottom: -1em;
  font-size: 0.8em;
  color: #ccc;
}

audio
{
  margin-bottom: 0.8em;
}

a:link {
  color:#f1fc88;
  text-decoration: none;
}
a:visited {
  color:#f1fc88;
  text-decoration: none;
 }
a:hover {
   color: #f1fc88;
   text-decoration: none;
}
a:active {
  color:#f1fc88;
  text-decoration: none;
}
